.logo-img {
    height: 106px;
    margin: -28px;
}

.main-box {
    background: #f0f2f5;
}

.custom-list {
    padding: 0;
}

.custom-list li {
    list-style-type: none;
}

.custom-list a {
    text-decoration: none;
    color: black
}

.note-text {
    font-size: 14px;
    color: #606064
}

.radio-gender:hover,
.radio-gender label:hover,
.radio-gender input:hover {
    cursor: pointer;
}